extends ../layout

block content 
    h2 Editar juego
    form(action=`/productos/edit/${producto.idproducto}` method="POST", enctype="multipart/form-data") 
        label(for="nombre") Nombre 
        input(type="text" name="nombre" id="nombre", value=producto.nombre)
        br
        label(for="descripcion") Descripcion 
        input(type="text" name="descripcion" id="descripcion",value=producto.descripcion)
        br
        label(for="precio") Precio 
        input(type="number" name="precio" id="precio",value=producto.precio)
        br
        label(for="stock") Stock
        input(type="number" name="stock" id="stock",value=producto.stock)
        br
        label(for="imagen") Imagen
        input(type="file" name="imagen" id="imagen")
        br
        input(type="submit", value="Guardar")
    a(href="/productos") 
        button Volver