extends ../layout

block content
    link(rel="stylesheet", href="/css/style.css")
    h1 Juegos
    each producto in productos
        article
            a(href=`/productos/producto/${producto.idproducto}`)
                img(src=`/uploads/${producto.nombre}.jpg`, alt=`${producto.nombre}`)
            h2= producto.nombre
            p Precio: #{producto.precio}€
            a(href=`/productos/producto/${producto.idproducto}`) Ver detalles

    br
    br
    a(href="/productos/new") Subir un nuevo juego

