extends ../layout

block content

    h1 Juegos
    table 
        thead 
            th Imagen
            th Nombre 
            th Descripcion 
            th precio 
            th stock 
        tbody 
            each producto in productos
                tr 
                    td 
                        img(src=`/uploads/${producto.nombre}.jpg`, alt=`${producto.nombre}`)
                    td
                        a(href= `/productos/producto/${producto.idproducto}`)=producto.nombre 
                    td=producto.descripcion 
                    td=producto.precio 
                    td=producto.stock    
    br
    br
    a(href="/productos/new") Subir un nuevo juego

