extends ../layout

block content
    link(rel="stylesheet", href="/css/style.css")
    h1 Juegos
<<<<<<< HEAD
    each producto in productos
        article
            a(href=`/productos/producto/${producto.idproducto}`)
                img(src=`/uploads/${producto.nombre}.jpg`, alt=`${producto.nombre}`)
            h2= producto.nombre
            p Precio: #{producto.precio}€
            a(href=`/productos/producto/${producto.idproducto}`) Ver detalles
=======
    table 
        thead 
            th Imagen
            th Nombre 
            th Descripcion 
            th precio 
            th stock 
        tbody 
            each producto in productos
                tr 
                    td 
                        img(src=`/uploads/${producto.nombre}.jpeg`, alt=`${producto.nombre}`)
                    td
                        a(href= `/productos/producto/${producto.idproducto}`)=producto.nombre 
                    td=producto.descripcion 
                    td=producto.precio 
                    td=producto.stock    
>>>>>>> 759a9797ced484e89799c0aac05908f61b773918
    br
    br
    a(href="/productos/new") Subir un nuevo juego

